.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #1e64c8;
}

h1{
  color: #1e64c8;
  text-align: center;
  font-size: 30px;
}

h4{
  color: #1e64c8;
}

.body{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 70px;
  font-family: monospace;
  background-color: #FFEBCD;
}

h3{
  color: #1e64c8;
}

h2{
  color: #1e64c8;
}

p{
  font-size: 16px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 70px;
   width: 100%;
   background-color: rgb(180, 172, 172);
   color: #1e64c8;
   text-align: center;
}

h6{
  color: #1e64c8;
  text-align: center;
}